[app]
name = bench
description = A Go application built with gst framework

[server]
mode = dev
listen =
port = 8080

[database]
type = sqlite
auto_migrate = true

[sqlite]
path = ./data.db
database = main
is_memory = true
enabled = true

[mysql]
host = 127.0.0.1
port = 3306
database =
username = root
password =
charset = utf8mb4
enabled = true

[postgres]
host = 127.0.0.1
port = 5432
database =
username = postgres
password =
sslmode = disable
timezone = Asia/Shanghai
enabled = true

[redis]
enabled = false
addr = 127.0.0.1:6379
db = 0
password =
namespace = bench
